@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "ASP.NETRocks";
    ViewBag.Header = "Aubrey Farnbach (Wright)";
}

<body>

    <div class="float-container">
        <div class="float-child-l">
            <p>What I hope to get out of this IS 413 class is a familiarity with ASP.net and a firm understanding of what I can accomplish with it. I want to discover which aspects of this arena are most interesting to me and learn if I would like to work with this after I graduate.</p>
            <h2>My Dream Jobs</h2>
            <ul>
                <li>1: Business Process Automation</li>
                <li>2: Database Design and Inplementation</li>
                <li>3: Software Implementation</li>
            </ul>
        </div>
        <div class="float-child-r">
            <img src="~/img/goats.JPG" style="height:340px;" />
        </div>
    </div>

</body>